body {
  
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  background-color: #4885d4;

  color:rgb(0, 0, 0);
}
.flex-container{
  display: flex;
  justify-content: center;
  margin:10px;
  margin-bottom: 15px;
}
#sheet{
  border: solid 10px black;
  background-color: rgb(190, 181, 181);
}
/* .round-button{
  border-radius: 80%;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin-right: 10px;
}
.round-button:hover{
  opacity: 80%;
}
.red{
  background-color: red;
  border: 1px solid crimson;
}
.green{
  background-color: green;
  border: 1px solid mediumseagreen;
}
.blue{
  background-color: blue;
  border: 1px solid midnightblue;
}
.selected{
  border: solid 5px rgb(0, 0, 0);
} */